{{>header}}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> profile List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID      
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th class="text-right">
                                        Status
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{name}}</td>
                                        <td>{{email}}</td>
                                         <td class="text-right">{{status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}


</body>

</html>